[SddmGreeterTheme]
Name=dotsequences-sddm-theme
Description=dotsequences-sddm-theme
License=GPL-3.0-or-later
Type=sddm-theme
Version=1.0
ConfigFile=theme.conf
Screenshot=preview.png
MainScript=Main.qml
Theme-Id=dotsequences-sddm-theme
Theme-API=2.0
QtVersion=6
